In [1]:
import numpy as np 
import pandas as pd
import functools
import warnings
import holidays

from datetime import datetime

In [2]:
df_meteo = pd.read_parquet('meteorologia.parquet')

In [3]:
df_meteo.head()

,time,temperature_2m,precipitation,rain,cloudcover,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,windspeed_100m,date,hour,elevation,weathercode,IATA
0,2022-01-01T00:00,18.8,1.1,1.1,100,51,85,100,9.3,18.6,2022-01-01,00:00,1057,63,BSB
1,2022-01-01T01:00,18.4,0.9,0.9,100,95,88,99,9.7,18.3,2022-01-01,01:00,1057,63,BSB
2,2022-01-01T02:00,18.1,0.5,0.5,100,95,96,98,7.5,15.7,2022-01-01,02:00,1057,63,BSB
3,2022-01-01T03:00,18.1,0.2,0.2,100,86,71,99,5.9,13.6,2022-01-01,03:00,1057,63,BSB
4,2022-01-01T04:00,18.2,0.2,0.2,100,98,72,98,5.8,12.0,2022-01-01,04:00,1057,63,BSB

In [4]:
df_meteo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87600 entries, 0 to 8759
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             87600 non-null  object
 1   temperature_2m   87600 non-null  float64
 2   precipitation    87600 non-null  float64
 3   rain             87600 non-null  float64
 4   cloudcover       87600 non-null  int64
 5   cloudcover_low   87600 non-null  int64
 6   cloudcover_mid   87600 non-null  int64
 7   cloudcover_high  87600 non-null  int64
 8   windspeed_10m    87600 non-null  float64
 9   windspeed_100m   87600 non-null  float64
 10  date             87600 non-null  object
 11  hour             87600 non-null  object
 12  elevation        87600 non-null  int64
 13  weathercode      87600 non-null  int64
 14  IATA             87600 non-null  object
dtypes: float64(5), int64(6), object(4)
memory usage: 10.7+ MB

In [5]:
df_meteo["hora"] = df_meteo["hour"].str[:2].astype(int)

In [6]:
df_meteo["data"] = pd.to_datetime(df_meteo['date'], errors='coerce').dt.strftime("%d/%m/%Y")

In [7]:
df_meteo.head()

,time,temperature_2m,precipitation,rain,cloudcover,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,windspeed_100m,date,hour,elevation,weathercode,IATA,hora,data
0,2022-01-01T00:00,18.8,1.1,1.1,100,51,85,100,9.3,18.6,2022-01-01,00:00,1057,63,BSB,0,01/01/2022
1,2022-01-01T01:00,18.4,0.9,0.9,100,95,88,99,9.7,18.3,2022-01-01,01:00,1057,63,BSB,1,01/01/2022
2,2022-01-01T02:00,18.1,0.5,0.5,100,95,96,98,7.5,15.7,2022-01-01,02:00,1057,63,BSB,2,01/01/2022
3,2022-01-01T03:00,18.1,0.2,0.2,100,86,71,99,5.9,13.6,2022-01-01,03:00,1057,63,BSB,3,01/01/2022
4,2022-01-01T04:00,18.2,0.2,0.2,100,98,72,98,5.8,12.0,2022-01-01,04:00,1057,63,BSB,4,01/01/2022

In [8]:
df_meteo.to_parquet('info_meteorologia.parquet')